<div class="container">
  <h1>To-Do List</h1>

  <hr />

  <form [formGroup]="taskForm" (ngSubmit)="onSave()">
    <div class="form-group">
      <label for="task">Task</label>
      <input
        type="text"
        class="form-control mt-2"
        placeholder="Enter task"
        formControlName="taskEntry"
        required
      />
      <small
        *ngIf="submitted && taskForm.get('taskEntry')?.errors?.['required']"
        class="form-text text-danger"
      >
        Required field
      </small>
    </div>
    <div class="form-group">
      <label for="dateCompleted" class="mt-4">Date</label>
      <input
        type="date"
        class="form-control mt-2"
        placeholder="Completion Date"
        formControlName="dateCompleted"
        required
      />
      <small
        *ngIf="submitted && taskForm.get('dateCompleted')?.errors?.['required']"
        class="form-text text-danger"
      >
        Required field
      </small>
    </div>
    <button
      type="submit"
      class="btn btn-primary mt-2"
      [disabled]="!taskForm.valid"
    >
      Save
    </button>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Completed</th>
        <th scope="col">Date</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; let i = index">
        <td>{{ task.taskEntry }}</td>
        <td><input type="checkbox" /></td>
        <td>{{ task.dateCompleted }}</td>
        <td>
          <button (click)="onDelete(i)" class="btn btn-danger btn-sm">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
